.character{
 display:flex;
 flex-direction:column;
}
h2{
 font-size:2rem;
 color:blue;

}
.prop-name{
 background:lightgrey;
 border-radius:5px;
 
}
.detail-container{
 display:flex;
 justify-content: center;
 color:#242323;
}
.key-details{
 width:80%;
 background:lightgrey;
 padding:0 10px;
 border-radius: 5px;
 width:50%;
 margin-left:5%;
}